* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #98acfd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.5' height='2440' viewBox='0 0 50 4000'%3E%3Cg fill='%23FFF'%3E%3Ccircle cx='25' cy='2226' r='24'/%3E%3Ccircle cx='25' cy='2176' r='23'/%3E%3Ccircle cx='25' cy='2126' r='22'/%3E%3Ccircle cx='25' cy='2076' r='21'/%3E%3Ccircle cx='25' cy='2026' r='20'/%3E%3Ccircle cx='25' cy='1976' r='19'/%3E%3Ccircle cx='25' cy='1926' r='18'/%3E%3Ccircle cx='25' cy='1876' r='17'/%3E%3Ccircle cx='25' cy='1826' r='16'/%3E%3Ccircle cx='25' cy='1776' r='15'/%3E%3Ccircle cx='25' cy='1726' r='14'/%3E%3Ccircle cx='25' cy='1676' r='13'/%3E%3Ccircle cx='25' cy='1626' r='12'/%3E%3Ccircle cx='25' cy='1576' r='11'/%3E%3Ccircle cx='25' cy='1526' r='10'/%3E%3Ccircle cx='25' cy='1476' r='9'/%3E%3Ccircle cx='25' cy='1426' r='8'/%3E%3Ccircle cx='25' cy='1376' r='7'/%3E%3Ccircle cx='25' cy='1326' r='6'/%3E%3Ccircle cx='25' cy='1276' r='5'/%3E%3Ccircle cx='25' cy='1226' r='4'/%3E%3Ccircle cx='25' cy='1176' r='3'/%3E%3Ccircle cx='25' cy='1126' r='2'/%3E%3Ccircle cx='25' cy='1076' r='1'/%3E%3Ccircle cx='50' cy='2201' r='24'/%3E%3Ccircle cx='50' cy='2151' r='23'/%3E%3Ccircle cx='50' cy='2101' r='22'/%3E%3Ccircle cx='50' cy='2051' r='21'/%3E%3Ccircle cx='50' cy='2001' r='20'/%3E%3Ccircle cx='50' cy='1951' r='19'/%3E%3Ccircle cx='50' cy='1901' r='18'/%3E%3Ccircle cx='50' cy='1851' r='17'/%3E%3Ccircle cx='50' cy='1801' r='16'/%3E%3Ccircle cx='50' cy='1751' r='15'/%3E%3Ccircle cx='50' cy='1701' r='14'/%3E%3Ccircle cx='50' cy='1651' r='13'/%3E%3Ccircle cx='50' cy='1601' r='12'/%3E%3Ccircle cx='50' cy='1551' r='11'/%3E%3Ccircle cx='50' cy='1501' r='10'/%3E%3Ccircle cx='50' cy='1451' r='9'/%3E%3Ccircle cx='50' cy='1401' r='8'/%3E%3Ccircle cx='50' cy='1351' r='7'/%3E%3Ccircle cx='50' cy='1301' r='6'/%3E%3Ccircle cx='50' cy='1251' r='5'/%3E%3Ccircle cx='50' cy='1201' r='4'/%3E%3Ccircle cx='50' cy='1151' r='3'/%3E%3Ccircle cx='50' cy='1101' r='2'/%3E%3Ccircle cx='50' cy='1051' r='1'/%3E%3Ccircle cx='0' cy='2201' r='24'/%3E%3Ccircle cx='0' cy='2151' r='23'/%3E%3Ccircle cx='0' cy='2101' r='22'/%3E%3Ccircle cx='0' cy='2051' r='21'/%3E%3Ccircle cx='0' cy='2001' r='20'/%3E%3Ccircle cx='0' cy='1951' r='19'/%3E%3Ccircle cx='0' cy='1901' r='18'/%3E%3Ccircle cx='0' cy='1851' r='17'/%3E%3Ccircle cx='0' cy='1801' r='16'/%3E%3Ccircle cx='0' cy='1751' r='15'/%3E%3Ccircle cx='0' cy='1701' r='14'/%3E%3Ccircle cx='0' cy='1651' r='13'/%3E%3Ccircle cx='0' cy='1601' r='12'/%3E%3Ccircle cx='0' cy='1551' r='11'/%3E%3Ccircle cx='0' cy='1501' r='10'/%3E%3Ccircle cx='0' cy='1451' r='9'/%3E%3Ccircle cx='0' cy='1401' r='8'/%3E%3Ccircle cx='0' cy='1351' r='7'/%3E%3Ccircle cx='0' cy='1301' r='6'/%3E%3Ccircle cx='0' cy='1251' r='5'/%3E%3Ccircle cx='0' cy='1201' r='4'/%3E%3Ccircle cx='0' cy='1151' r='3'/%3E%3Ccircle cx='0' cy='1101' r='2'/%3E%3Ccircle cx='0' cy='1051' r='1'/%3E%3Crect x='-10' y='2212' width='70' height='1788'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.icon {
    margin-top: 1rem;
}
.container {
    background: #3757d67e;
    border-radius: 25px;
    padding: 1.75rem;
    border: 2px solid black;
    filter: blur(center);
    margin-bottom: 1rem;
    margin-top: 4rem;
    box-shadow:
        0 0 0 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2);
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.temperature {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.temperature-section {
    display: flex;
    align-items: center;
    align-content: center;
}

.tag,
.temperature,
.temperature-degree,
.location,
.degree-section {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.location {
    justify-content: space-around;
    align-items: center;
}

.location-timezone,
.header {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
}

.header {
    text-align: center;
    font-size: 5rem;
    margin-top: 5rem;
}

.tag {
    margin-bottom: 4rem;
}

#spinner {
    text-align: center;
    text-decoration: none;
}

.spinning {
    text-align: center;
    animation: spin 2s ease-in-out;
    -webkit-animation: spin 2s ease-in-out;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

p {
    font-family: verdana;
    font-size: 2rem;
}

.fa-snowflake {
    font-size: 15rem;
    color: #3757d6;
    cursor: pointer;
}

@media only screen and (min-width: 760px) {
    .tag {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .icon {
        width: 8rem;
        height: 8rem;
    }

    .container {
        margin-top: 2rem;
    }

    .fa-snowflake {
        font-size: 12.5rem;
    }

    .header {
        font-size: 6rem;
        margin-top: 0;
    }

    .location-timezone {
        font-size: 4rem;
    }

    .tag,
    .temperature-degree,
    .temperature-description {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 760px) {
    .tag {
        margin-bottom: 2rem;
    }

    .icon {
        width: 5rem;
        height: 5rem;
    }

    .container {
        margin-top: 2rem;
    }

    .fa-snowflake {
        font-size: 8rem;
    }

    .header {
        font-size: 4rem;
        margin-top: 0;
    }

    .location-timezone {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 375px) {
    .container {
        padding: 1rem;
        margin-top: 2rem;
    }

    .header {
        font-size: 3rem;
        margin-top: 1rem;
    }

    .tag {
        margin-bottom: 2rem;
    }

    .fa-snowflake {
        font-size: 5rem;
    }

    .tag,
    .temperature-degree,
    .temperature-description {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .location-timezone {
        font-size: 2rem;
    }
}